.formulario-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 80px 50px;
}

.formulario-container .formulario {
    background-color: #f2f2f2;
    border-radius: 20px;
    padding: 36px 95px;
    flex: 1;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

.formulario h2 {
    font-size: 32px;
    font-family: Prata;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
}